
.rankingField {
    color: #000;
    font-feature-settings:
      "clig" off,
      "liga" off;
    font:
      500 16px/19px Inter,
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
    text-align: center;
    padding: 12px 0px;
}

.rankingLine {
    border: 1px solid #000;
    border-top: 0;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(2, 150px);
    max-width: fit-content;
}