.scenarioPage {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.searchAudio {
  align-self: center;
  height: 50px;
  padding: 0 16px;
  margin: 16px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.audioItems {
  align-self: center;
  width: 100%;
  margin-top: 15px;
  border-radius: 8px;
  padding: 16px;
  height: 300px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  overflow: scroll;
}
.addScenarioContainer {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    max-width: fit-content;
    align-items: center;
    justify-items: center;
    gap: 16px;
}

.checkboxHidden {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
  width: 16px;
  border-radius: 4px;
  margin-right: 12px;
  border: 1.5px solid #c0c0c0;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.addScenarioItem {
  display: flex;
  align-items: center;
  list-style: none;
  cursor: pointer;
  transition: 0.3s;
  padding: 0 15px;
  border-radius: 8px;
  gap: 16px;
}

.addScenarioItemHeader {
  display: flex;
  align-items: center;
  list-style: none;
  cursor: pointer;
  transition: 0.3s;
  padding: 16px 15px;
  border-radius: 8px;
  gap: 16px;
}

.addScenarioItem:hover {
    background-color: #e7edfe;
}

.leftSide {
  display: flex;
  flex-direction: row;
  align-items: center;
}
